{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{%load static%}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block field_sets %}

    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <button type="button" onclick="exportDetailTabel()">ייצא לטבלת פרטים</button>
    <script>
        function exportDetailTabel(e) {
            
            debugger;
            let currUrl = window.location.href;
            currUrl = currUrl.substr(currUrl.indexOf('catalogimage/') + 'catalogimage/'.length);
            currUrl = currUrl.substr(0, currUrl.indexOf('/'));
            console.log(currUrl);
        }
    </script>
    <script src="{%static 'admin/catalogImages/handlePrices.js' %}"></script>
{% endblock %}