:root {
  $fade-grey: #ededed;
  $grey: #111;
  $muted-grey: #999;
  $heart: #ff4f8f;
  $white: #fff;
  --like-font-size: 30px;

  --swiper-navigation-size: 80px;

}

.btn-primary {
  background-color: black;
  border-color: #eee;
}


.swiper-container {}

.bg-wraper {

  //background: url('../../base/imgs/wall_bg.jpg');
  //background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../base/imgs/wall_bg.jpg');
  //background-position: center;

  /*background-color: #b8b8b8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c1c1c1'/%3E%3Cstop offset='1' stop-color='%23c1c1c1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c6c6c6'/%3E%3Cstop offset='1' stop-color='%23c6c6c6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cfcfcf'/%3E%3Cstop offset='1' stop-color='%23cfcfcf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b8b8b8'/%3E%3Cstop offset='1' stop-color='%23b8b8b8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cacaca'/%3E%3Cstop offset='1' stop-color='%23cacaca' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d4d4d4'/%3E%3Cstop offset='1' stop-color='%23d4d4d4' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;*/


  background: url('../../base/imgs/wall_bg.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../base/imgs/wall_bg.jpg');
  background-position: center;

  //background: url('../imgs/catalogBg1.jpeg');
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/catalogBg1.jpeg);
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/catalogBg1.jpeg');
  //overflow: hidden;
  //background-size: 50vh;
  //background-size: 50vh;
  //background-size: 500px;
  //
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
}

.section-1-5 {
  .container {
    margin: 10px auto;
    width: 100%;
    text-align: center;

    .progress {
      //padding: 6px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

      .progress-bar {
        height: 18px;
        background-color: #ee303c;
        border-radius: 4px;
        transition: 0.4s linear;
        transition-property: width, background-color;

        background-color: #FCBC51;
        width: 0%;

        background-image: linear-gradient(45deg, rgb(252, 163, 17) 25%,
            transparent 25%, transparent 50%,
            rgb(252, 163, 17) 50%, rgb(252, 163, 17) 75%,
            transparent 75%, transparent);
        animation: progressAnimationStrike 6s;
      }
    }
  }

}

.section-2 {

  //background: #111;
  margin-left: 20px;
  padding-top: 50px;
  margin-right: 20px;
  padding-bottom: 50px;



  .section-2-fotter {
    font-family: 'Rounded Mplus 1c';
    color: #FFD880;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    background: #222;
    /*text-shadow:
      1px 1px 0px #FFD880,
      -3px -0 25px #000000,
      3px 0px 3px rgb(160, 160, 160),
      0px 0px 15px rgb(160, 160, 160),
      15px 10px 10px black,
    ;*/

    .part-1 {
      font-size: larger;
    }
  }

  /* check list */
}

.section-3 {
  padding-bottom: 20px;

  .container {
    display: flex;
    flex-direction: row;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;


    .abount-us {
      color: white;
      flex: 1;
      //text-align: center;
      //margin: auto;
      padding: 20px;
      font-size: x-large;

      .begood-logo-wraper {
        display: inline-block;
        position: relative;
        font-size: larger;
        margin-left: 20px;

        img {
          position: absolute;
          height: 35px;
          left: 0px;
          transform: translate(-50%, 0%);
        }

      }
    }

    .check-list {
      flex: 1;
      $white: #fff;
      $main-color: #643A7A;

      ul {
        list-style: none;
        //padding:  0 4px;
        //margin: 0 30px;
        font-weight: 300;

        .button {
          position: relative;
          z-index: 2;
          box-sizing: border-box;
          float: right;
          width: 50px;
          height: 50px;
          border: 1px solid fade-out($main-color, .5);
          border-radius: 50%;
          cursor: pointer;
          padding-right: 30px;
        }

        li {
          &:first-child {
            margin: 0;
            margin-top: 20px;
          }

          color: white;
          position: relative;
          display: block;

          margin: 50px 0;

          height: 14px;

          .wrapper {
            position: absolute;
            width: 50px;
            right: 0;
            top: 0px;
          }
        }

        .text {
          //float: left;
          padding-right: 10px;
          font-size: 2.3rem;
          transform: translate(0px, -8px);
          cursor: pointer;
          transition: all .3s ease-in-out;
        }


        li:nth-of-type(2) {
          animation: slide-up 1s;
        }

        li:nth-of-type(3) {
          animation: slide-up 1.5s;
        }

        li:nth-of-type(4) {
          animation: slide-up 2s;
        }

        .checkmark {
          position: absolute;
          //stroke: rgba(100, 58, 122, .5);
          stroke: rgba(0, 199, 27, 0.746);
          fill: none;
          stroke-dashoffset: 340;
          stroke-dasharray: 360;
        }

        input {
          display: none;

          &:checked~ {
            .text {
              //color: rgba(100, 58, 122, .5);
              color: rgba(0, 199, 27, 0.746);
            }

            .wrapper .checkmark {
              animation: dash .5s ease-out forwards;
              opacity: 1;
            }

            .button {
              opacity: 0;
            }
          }
        }
      }


      /* ul*/

      @keyframes dash {
        0% {
          stroke-dashoffset: 340;
        }

        100% {
          stroke-dashoffset: 0;
        }
      }

      .checkmark {
        display: block;
        stroke-width: 8;
        opacity: 0;
      }
    }
  }
}

/* section-2 */

/** {
  border: 1px solid red;
}*/

.like-btn {
  * {
    // fix text quality with transform: scale()
    backface-visibility: hidden;
  }

  &:hover {
    .like-wrapper:not([class*=isAdded]) {
      a {
        span {

          img {
            display: none;
          }

          &::after {
            content: ' פריט להצעת מחיר';
          }
        }
      }
    }
  }

  .like-wrapper {
    a {
      width: 100%;
      display: block;
      line-height: 40px;
      font-size: 1rem;
      font-weight: 700;
      font-family: sans-serif;
      text-decoration: none;
      border: 2px solid #333;
      background: #0000007a;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      transition: all .35s;
      color: white;

      border-radius: 25px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      span {
        position: relative;
        z-index: 2;

        img {
          height: 31px;
        }

      }

      /*
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #00000042;//#159560; //#ff003b;
      transition: all .35s;
      border-radius: 50px;
    }

    &:hover {
      color: #fff;
    }*/
    }


    &.isAdded a {
      color: #eee;


      &:hover {
        color: white;
      }

      &:after {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.my-slick-slide.checked+.like-btn,
.category-item.checked>div .like-btn {
  &:hover {
    .like-wrapper {
      a {
        span {
          img {
            display: inline;
          }

          &::after {
            content: '';
          }
        }
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bolder;
  color: black;

  //font-size: 4.7rem;
  ::after {
    font-size: 4.5rem !important;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  /*left: 10px;
  right: auto;
  width: 75px;
  height: 75px;*/
  transform: translate(-110%, 75%);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  /*right: 10px;
  left: auto;
  width: 75px;
  height: 75px;*/
  transform: translate(110%, 75%);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  //opacity: .35;
  cursor: auto;
  pointer-events: initial;
}

.catalog {
  .timer {
    display:none;
    &.active {
      display:block;
    }
    .flipdown {
      margin: auto;
    }

    .timer-text {
      text-align: center;
      //color: var(--clr-primery-gold);
    }
  }

  .container {
    position: relative;

    .swiper-container {
      padding-top: 150px;
      padding-bottom: 60px;
      //padding-top: 220px;
      //padding-bottom: 120px;
    }

  }

  .swiper-slide-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1.4) !important;

    .my-slick-slide {

      position: relative;

      /*
      box-shadow:
        inset 0 0 20px #ffe8b3,
        inset 20px 0 80px #ffc234,
        inset -20px 0 80px #FFD880,
        inset 20px 0 300px #ffc234,
        inset -20px 0 300px #FFD880,
        0 0 10px #ffe8b3,
        -15px 0 15px #FFD880,
        15px 0 15px #FFD880 !important;
        */
      img {
        //width: 150%;
        //height: 150px;
      }

      .img-title {
        display: block;
      }

      //border-radius: 15px;
    }

    .img-title {
      background: #0000007a;
      border-radius: 25px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0;
    }

    /*box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px black,
      inset -20px 0 80px #FFD880,
      inset 20px 0 300px black,
      inset -20px 0 300px #FFD880,
      0 0 50px #fff,
      -10px 0 80px black,
      10px 0 80px #FFD880 !important;
    }*/

  }
}



.title-wraper {
  display: flex;
  justify-content: center;

  .counter {
    direction: ltr;

    #year {
      display: none;
    }

    #month {
      display: none;
    }

  }

  .title {
    opacity: 0.5;
    background-color: black;
    border-color: var(--clr-primery-gold);
    //margin-top: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;

    &:hover {
      &::before {
        content: '>> למעבר לקטגוריית ';
        opacity: 1;
        font-size: 1.4rem;
      }

      &::after {
        content: ' לחץ כאן <<';
        opacity: 1;
        font-size: 1.4rem;
      }

      opacity: 0.8;
      //font-size: 2.2rem;

    }
  }
}

.slick-dots li button:before {
  color: white;
}

.like-btn {
  cursor: pointer;
}

.slick-slider {
  margin-bottom: 0px !important;

  .wraper-my-slick-slide {
    /*&:hover {
      background-color: black;
    }*/


  }

  .my-slick-slide {
    cursor: pointer;

    /*
    &:hover {
      background-color: black;
    }*/
    .big-discount {
      position: absolute;
      width: 55px;
      bottom: 0px;
      right: 0px;
    }

    .discount {
      position: absolute;
      width: 65px;
      left: 10px;
      top: 10px;
    }


    &.checked+.like-btn .like-wrapper a {
      border: 1px solid black;
      //color: rgb(0, 0, 0);
      color: white;

      &:hover {
        //color: rgb(70, 70, 70);
      }

      &:after {
        width: 100%;
        height: 100%;
      }
    }



    position: relative;

    img {
      width: 100%;
      height: auto;
      //padding: 5px;
      border-radius: 0px;
      /*
      filter: none !important;

      &:hover {
        transform: scale(1.1);
        border-radius: 15px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      }*/


      &:hover+.img-title {
        display: block;
        transition: transform 0.2s;
        //transform: translate(-50%, -80%);
        font-weight: 700;
      }
    }

    .img-title {
      position: absolute;
      display: none;
      color: white;
      width: 100%;
      //background: rgba(0, 0, 0, 0.5);
      text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;

      //border-radius: 15px;
      z-index: 2000;
      //bottom: 0%;
      transform: translate(-50%, -100%);
      //top: 0px;
      font-size: 1.5em;

      left: 50%;
      top: 0px;
      pointer-events: none;
      text-align: center;
    }
  }
}


#catalogModal {
  .modal-body {
    //background-color: rgba(255, 255, 255, 0.6);
    //background-blend-mode: lighten;
  }

  .inner-body {
    display: flex;
    flex-direction: row;


    .product-detail {
      //padding-right: 5px;
      flex: 1;
      min-width: 35%;
      padding-left: 30px;

      .product-title {
        font-size: 2em;
        font-weight: bolder;
      }

      .product-description {
        max-height: 120px;
        overflow-y: auto;
        font-size: 1.3em;
        font-weight: bold;
      }

      .product-properties {
        display: flex;
        flex-direction: row;

        .product-color {
          display: flex;
          flex-wrap: wrap;

          /*
        flex-wrap: wrap;
        flex-direction: row-reverse;
        display: flex;
        flex-direction: row;*/
          .color-box {
            margin: 3px;
            width: 25px;
            height: 25px;
            border: 1px black solid;

            &:hover {
              border: 2px red solid;
            }
          }
        }

        .product-size {
          /*
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;*/
          display: flex;
          flex-wrap: wrap;

          .size-box {
            border: 1px black solid;
            margin: 3px;
            min-width: 30px;
            text-align: center;
            font-weight: 700;

            &:hover {
              background-color: #3D3D3D;
              color: white
            }
          }
        }
      }

    }

    .img-wraper {
      flex: 1;

      img {
        width: 450px;
        float: left;
        border-radius: 15px;
        box-shadow: 10px 10px 5px rgb(133, 133, 133);
      }
    }
  }

  .modal-footer {
    justify-content: space-evenly;

    .modal-nav-btn {
      img {
        width: 60px;
      }
    }

    #modal-prev-btn {
      :hover {
        transform: scale(1.4);
      }
    }

    #modal-next-btn {
      transform: rotate(180deg);

      :hover {
        transform: scale(1.4) !important;
      }
    }

    #modal-add-btn {
      cursor: pointer;

      a {
        padding: 10px !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      &.isAdded {
        /*
        color: #fff;
        background-color: #398439;
        border-color: #255625;
        animation: 5s linear burst;  
        animation-duration: 5000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear; */
      }
    }

    #modal-add-btn:disabled {}

    @keyframes addToCartAnimation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

#categoryModal {
  .modal-dialog {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    height: 100vh;
  }


  .modal-content {
    height: 100vh;

    .modal-header {

      .modal-header-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        //align-items: center;
        width: 100%;

        .btn {
          border-color: var(--clr-primery-gold);
          flex: 1;

        }
      }
    }

  }

  .modal-body {
    overflow-y: scroll;

    .category-description {
      //background-color: rgba(0, 0, 0, 0.7);
      //color:white;
      color: black;
      border-radius: 15px;
      padding: 20px;
    }
  }

  .modal-footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .header-logo {
      height: 35px;
    }

    .modal-title {
      font-weight: 700;
      font-size: 2.5em;
    }
  }

  .category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .category-item {
      cursor: pointer;
      padding: 5px;

      .category-item-img-wraper {
        &:hover {
          background-color: black;
        }
      }



      &.checked {
        /*.like-wrapper a {
          color: #000;
          border: 1px solid black;

          &:hover {
            //color: white;
          }

          &:after {
            width: 100%;
            height: 100%;
          }
          span {
            img {

            }
          }
        }
*/
      }

      &:hover {}

      position: relative;

      .category-item-img-wraper {
        img {
          height: auto;
          /*padding: 5px;*/
          border-radius: 0px;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;


          &:hover {
            transform: scale(1.1);
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
          }

          &:hover+.img-title {
            display: block;
            transition: transform 0.2s;
            //transform: translate(-50%, -80%);
            font-weight: 700;
          }
        }
      }

      .img-title {
        position: absolute;
        display: none;
        color: white;
        z-index: 2000;
        bottom: 50%;
        transform: translate(-50%, 0%);
        //top: 0px;
        font-size: 1.5em;

        left: 50%;
        pointer-events: none;
        text-align: center;
      }

      /*
      .like-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s;
        opacity: 1;
        z-index: 2;
        width: 100%;

        .fa-heart {
          position: relative;
          font-size: var(--like-font-size);
          -webkit-text-stroke: 2px #e5e5e5;
          color: whitesmoke;
          transition: all ease-in-out;
          bottom: 0;
          z-index: 3;
        }
      }

      .like-btn:hover .fa-heart {
        color: red;
        -webkit-text-stroke: 1px red;
        animation: .5s linear burst;
      }

      &.checked .fa-heart {
        color: red;
        -webkit-text-stroke: 1px red;
        animation: .5s linear burst;
      }
      */
    }
  }
}


.contact-form-wraper2 {
  background-color: #FFD880;
}

@keyframes burst {

  0%,
  10% {
    transform: scale(1);
    opacity: .5;
    color: lavender;
  }

  45% {
    transform: scale(.2) rotate(30deg);
    opacity: .75;
  }

  50% {
    transform: scale(2) rotate(-37.5deg);
    opacity: 1;
    color: red;
    text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
  }

  90%,
  95% {
    transform: scale(1) rotate(10deg);
    text-shadow: none;
  }

  100% {
    transform: rotate(-2.5deg);
  }

}



#ImageProductsModal {
  .modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;

    @media (min-width: 576px) {
      //max-width: 100vw;
    }

    .modal-content {
      max-height: 100vh;

      .modal-body {
        padding: 0px;
        overflow-y: auto;
        /*overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: center;*/

        img {}
      }
    }
  }
}

/* ============== swiper start ================ */
.swiper-main {
  width: 100%;
  height: 60vh;
  background: #000;

  .parallax-bg {
    background-image: url('../imgs/catalogBg1.jpeg');
    //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/catalogBg1.jpeg);
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    //padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%; //130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 400;
    padding-right: 20px;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
    padding-right: 50px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }

  .swiper-slide .images {
    display: flex;
    width: 100vw;
    /*
    padding-left: 100px;
    padding-right: 100px;*/
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    position: absolute;
    bottom: 0px;

    //align-items:flex-start;
    .img-wraper {
      flex: 1;

      img {
        max-width: 100%;
        max-height: 100%;
        height: 300px;
      }
    }
  }

  .slide-1 {
    font-size: 43px;

    .subtitle {
      text-align: center;
      font-size: 40px;
    }

    .images {
      .img-wraper {
        .main-slide-img {
          height: 250px;
          //width: 150px;
        }
      }
    }
  }

  .slide-2 {
    font-size: 43px;

    .subtitle {
      text-align: center;
      font-size: 40px;
    }

    .images {
      .img-wraper {
        .main-slide-img {
          height: 230px;
        }
      }

      .img-1-wraper {
        position: absolute;
        bottom: 0%;
        left: 0%;

        .main-slide-img {}
      }

      .img-2-wraper {
        position: absolute;
        bottom: 130px;
        left: 8%;

        .main-slide-img {}
      }

      .img-3-wraper {
        position: absolute;
        bottom: 0%;
        left: 20%;

        .main-slide-img {}
      }

      .img-4-wraper {
        position: absolute;
        bottom: 0%;
        left: 36%;

        .main-slide-img {
          height: 300px;
        }
      }

      .img-5-wraper {
        position: absolute;
        bottom: 0%;
        left: 65%;

        .main-slide-img {
          //height: 250px;
        }
      }

      .img-6-wraper {
        position: absolute;
        bottom: 0px;
        left: 72%;

        .main-slide-img {
          //height: 250px;
        }
      }

      .img-7-wraper {
        position: absolute;
        bottom: 0px;
        height: 200px;
        left: 87%;
      }

      .img-8-wraper {
        position: absolute;
        bottom: 130px;
        left: 87%;

        .main-slide-img {
          height: 150px;
        }
      }
    }
  }

  .slide-3 {
    .images {
      .img-wraper {
        .main-slide-img {
          height: 250px;
        }
      }

      .img-1-wraper {
        position: absolute;
        bottom: 150px;
        left: 20%;

        .main-slide-img {
          //width: 200px;
        }
      }

      .img-2-wraper {
        position: absolute;
        bottom: 0px;
        left: 35%;

        .main-slide-img {
          height: 350px;
        }
      }

      .img-3-wraper {
        position: absolute;
        bottom: 0px;
        left: 20%;

        .main-slide-img {
          height: 150px;
        }
      }

      .img-4-wraper {
        position: absolute;
        bottom: 180px;
        left: 0%;

        .main-slide-img {
          //width: 200px;
        }
      }

      .img-5-wraper {
        position: absolute;
        bottom: 0px;
        left: 0%;

        .main-slide-img {
          //width: 200px;
        }
      }

      .img-6-wraper {
        position: absolute;
        bottom: 180px;
        right: 5%;

        .main-slide-img {
          //width: 200px;
        }
      }

      .img-7-wraper {
        position: absolute;
        bottom: 0px;
        right: 5%;

        .main-slide-img {
          //width: 200px;
        }
      }

      .img-8-wraper {
        position: absolute;
        bottom: 0px;
        left: 50%;

        .main-slide-img {
          height: 350px;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .swiper-main {
    .swiper-slide {
      &.slide-1 {
        .images {
          padding-left: 0px;
          padding-right: 0px;

        }

        .img-4-wraper {
          display: none;
        }
      }

      /*
      &.slide-2 {
        .images {
          padding-left:0px;
          padding-right:0px;
          .img-wraper {
            .main-slide-img {
              height: 350px;;
            }
          }
        }
        .img-1-wraper,
        .img-2-wraper,
        .img-3-wraper {
          display: none;
        }
        .img-4-wraper {
          left:10%;
        }
        .img-7-wraper {
          left: 80%;
        }
        .img-8-wraper {
          display: none;
        }
      }*/
      .slide-2 {
        .images {
          .main-slide-img {
            height: 250px;
          }

          .img-1-wraper {
            position: absolute;
            bottom: 0%;
            left: 0%;

            .main-slide-img {
              height: 200px;
            }
          }

          .img-2-wraper {
            position: absolute;
            bottom: 150px;
            left: 5%;

            .main-slide-img {
              height: 200px;
            }
          }

          .img-3-wraper {
            position: absolute;
            bottom: 0%;
            left: 15%;

            .main-slide-img {
              height: 200px;
            }
          }

          .img-4-wraper {
            position: absolute;
            bottom: 0%;
            left: 35%;

            .main-slide-img {
              //width: 250px;
            }
          }

          .img-5-wraper {
            position: absolute;
            bottom: 0%;
            left: 55%;

            .main-slide-img {
              //height: 250px;
            }
          }

          .img-6-wraper {
            position: absolute;
            bottom: 0px;
            left: 64%;

            .main-slide-img {
              //height: 250px;
            }
          }

          .img-7-wraper {
            position: absolute;
            bottom: 0px;
            height: 200px;
            left: 80%;
          }

          .img-8-wraper {
            position: absolute;
            bottom: 100px;
            left: 80%;

            .main-slide-img {
              width: 200px;
            }
          }
        }
      }

      &.slide-3 {
        .images {

          padding-left: 0px;
          padding-right: 0px;

          .img-1-wraper,
          .img-2-wraper,
          .img-3-wraper {
            display: none;
          }

          .img-8-wraper {
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}

@media (max-width: 854px) {
  .swiper-main {
    .swiper-slide {
      &.slide-1 {
        .title {
          font-size: 42px;
        }

        .img-2-wraper {
          display: none;
        }
      }

      &.slide-2 {
        .img-5-wraper {
          display: none;
        }

        .img-7-wraper {
          height: 75px;
          bottom: 250px;
          max-width: none;
          width: auto;
        }
      }

      &.slide-3 {
        .images {
          .img-8-wraper {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 488px) {
  .swiper-main {
    .swiper-slide {
      &.slide-1 {
        .img-3-wraper {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 412px) {
  .swiper-main {
    .swiper-slide {
      &.slide-1 {
        .title {
          font-size: 38px;
        }
      }
    }
  }
}

/* ============== swiper end ================ */
/*
.cls-animate-in-right {
  animation: animate-in-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1000;
}

@keyframes animate-in-right {
  from {
    transform: translate(100%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

.main-slider {
  width: 100%;
  height: 100%;

  .main-slide {
    position: relative;

    .main-slide-bg {
      width: 100vw;
      height: 66vh;
      //height:25.3125vw;
      //width: auto;
    }



    .text {

      position: absolute;
      top: 0px;
      //font-size: 2.3em;
      width: 100%;
      z-index: 1;


      height: 100%;
      background-color: rgba(0, 0, 0, 0.0);
      color: white;
      text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

      .text-1 {
        padding-right: 1em;
      }

      // small mobile
      @media (min-width: 180px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 0.9em;
          text-align: center;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      // mobile
      @media (min-width: 488px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 0.9em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      //table
      @media (min-width: 688px) {
        font-size: 2.1em;

        .text-1 {
          padding-top: 50px;
          font-size: 0.7em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      //squere screen
      @media (min-width:1100px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 1.2em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      // big screen
      @media (min-width: 1312px) {
        font-size: 2.3em;

        .text-1 {
          font-size: 1.5em;
        }

        .text-2 {
          font-size: 1.2em;
          text-align: center;
        }
      }
    }

  }

  margin: 0 auto;


}

.slide-1 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        padding-top: 50px;
        max-width: 80vh;
        margin: auto;
      }
    }

  }

  .images {
    //border: 1px solid red;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
  }

  .main-slide-img {
    height: 300px;
  }

  // small mobile
  @media (min-width: 180px) {
    .main-slide-img {
      height: 250px;
    }

    .img-1,
    .img-2,
    .img-4,
    .img-5 {
      display: none;
    }

  }

  // mobile
  @media (min-width: 488px) {
    .main-slide-img {
      height: 250px;
    }

    .img-1,
    .img-5,
    .img-4 {
      display: none;
    }

    .img-3 {
      display: block;
    }

  }

  //table
  @media (min-width: 688px) {
    .main-slide-img {
      height: 280px;
    }

    .img-1,
    .img-5 {
      display: none;
    }

    .img-2,
    .img-3,
    .img-4 {
      display: block;
    }

  }

  //squere screen
  @media (min-width:1100px) {
    .main-slide-img {
      height: 350px;
      display: block;
    }

    .img-1 {
      display: none;
    }

    .img-2,
    .img-3,
    .img-4.img-5 {
      display: block;
    }
  }

  // big screen
  @media (min-width: 1312px) {
    .main-slide-img {
      display: block;
    }
  }

}

.slide-2 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        max-width: 100vh;
        margin-right: 20%;
        margin-left: 20%;
      }
    }

    .text-2 {}
  }

  .main-slide-img {
    height: 280px;
    max-width: 100%;
  }

  .images {
    position: absolute;

    bottom: 0px;
    left: 0px;
    width: 100vw;
    max-height: 50vh;

    @media (min-width:1100px) {
      .img-1 {
        position: absolute;
        left: 0px;
        bottom: 0px;
      }

      .img-2 {
        position: absolute;
        left: 80px;
        bottom: 150px;
      }

      .img-3 {

        position: absolute;
        left: 280px;
        bottom: 0px;
      }

      .img-4 {
        position: absolute;
        left: 38%;
        height: 350px;
        bottom: 90px;
      }

      .img-5 {
        position: absolute;
        left: 57%;
        bottom: 55px;
      }

      .img-6 {
        position: absolute;
        left: 65%;
        bottom: 0px;
      }

      .img-7 {
        position: absolute;
        right: 50px;
        bottom: 190px;
        height: 200px;
      }

      .img-8 {
        position: absolute;
        right: 00px;
        bottom: 0px;
        //border: 1px solid red;
      }
    }

    // big screen
    @media (min-width: 1312px) {
      .img-1 {
        position: absolute;
        left: 0px;
        bottom: 0px;
      }

      .img-2 {
        position: absolute;
        left: 80px;
        bottom: 150px;
      }

      .img-3 {

        position: absolute;
        left: 280px;
        bottom: 0px;
      }

      .img-4 {
        position: absolute;
        left: 38%;
        height: 335px;
        bottom: 10px;
      }

      .img-5 {
        position: absolute;
        left: 57%;
        bottom: 55px;
      }

      .img-6 {
        position: absolute;
        left: 65%;
        bottom: 0px;
      }

      .img-7 {
        position: absolute;
        right: 50px;
        bottom: 190px;
        height: 200px;
      }

      .img-8 {
        position: absolute;
        right: 00px;
        bottom: 0px;
        //border: 1px solid red;
      }
    }
  }
}


.slide-3 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        width: 80%;
        margin-right: 1%;
        margin-left: 19%;
      }
    }

    .text-2 {}
  }

  .main-slide-img {
    height: 280px;
    max-width: 100%;
  }

  .text {}

  .images {
    position: absolute;

    bottom: 0px;
    left: 0px;
    width: 100vw;
    max-height: 50vh;

    @media (min-width:1100px) {

      // face shild
      .img-14 {
        position: absolute;
        left: 66%;
        bottom: 0px;
      }

      // yellow vest
      .img-15 {
        position: absolute;
        left: 35%;
        bottom: 50px;
        height: 320px;
      }

      //shoe
      .img-16 {
        position: absolute;
        left: 200px;
        bottom: 0px;
      }

      .img-17 {
        position: absolute;
        left: 0%;
        height: 280px;
        bottom: 180px;
      }

      // red glove
      .img-18 {
        position: absolute;
        left: 0px;
        height: 235px;
        bottom: -20px;
      }

      // shild glasses
      .img-19 {
        position: absolute;
        right: 0px;
        height: 190px;
        bottom: 130px;
      }

      .img-20 {
        position: absolute;
        right: 0px;
        height: 200px;
        bottom: 0px;
      }

      // orange vest
      .img-23 {
        position: absolute;
        left: 52%;
        bottom: 0px;
        height: 320px;
      }
    }

    @media (min-width: 1312px) {

      // face shild
      .img-14 {
        position: absolute;
        left: 66%;
        bottom: 0px;
      }

      // yellow vest
      .img-15 {
        position: absolute;
        left: 32%;
        bottom: 10px;
        height: 300px;
      }

      //shoe
      .img-16 {
        position: absolute;
        left: 200px;
        bottom: 0px;
      }

      // helmet
      .img-17 {
        position: absolute;
        left: 0%;
        height: 280px;
        bottom: 140px;
      }

      // red glove
      .img-18 {
        position: absolute;
        left: 0px;
        height: 235px;
        bottom: -20px;
      }

      // shild glasses
      .img-19 {
        position: absolute;
        right: 70px;
        height: 165px;
        bottom: 130px;
      }

      .img-20 {
        position: absolute;
        right: 0px;
        height: 200px;
        bottom: 0px;
      }

      // orange vest
      .img-23 {
        position: absolute;
        left: 49%;
        bottom: 0px;
        height: 300px;
      }
    }
  }
}*/