{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Catalog" %}{% endblock %}
{% block extra_head %}
<!--
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
-->
<!--<link rel="stylesheet" href="{%static 'assets/css/swiper.css'%}">-->
<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@6.5.0/swiper-bundle.min.css"> -->
<!--<script src="https://kit.fontawesome.com/022c0fea0b.js" crossorigin="anonymous" defer></script>-->
<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
<link rel="stylesheet" href="{%static 'assets/catalog/css/countdowncube.css'%}" />
-->
<link rel="stylesheet" href="{%static 'assets/catalog/css/swiper-bundle.min.css'%}">
<link rel="stylesheet" href="{%static 'assets/catalog/css/flipdown.min.css'%}" />
<link rel="stylesheet" href="{%static 'assets/catalog/css/style.css' %}">
{% endblock extra_head%}

{% block content %}

<div class="bg-wraper">
    <div class="section-2">
        <div class="section-2-fotter">
            &bull; עיינו באתר
            &bull; הוסיפו לעגלה
            &bull; שלחו אלינו
            &bull;
            <!--
            <div class="part-1 shine">
                מוזמנים לעיין באתר ולהוסיף להצעת מחיר את הפריטים שאהבתם
            </div>
            <div class="part-2 shine">
                לא לשכוח לשלוח את הטופס בסיום
            </div>
            -->

        </div>
    </div>
    <div class="section-1">

        <div class="swiper-container swiper-main">
            <div class="parallax-bg" data-swiper-parallax="23%"></div>
            <!-- -->
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-1">
                    <div class="title" data-swiper-parallax-duration="2000" data-swiper-parallax-y="-500">
                        בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים?
                    </div>
                    <div class="subtitle" data-swiper-parallax-duration="2000" data-swiper-parallax-y="-500">
                        תן למקצוענים לעשות את העבודה בשבילך
                    </div>
                    <div class="images" data-swiper-parallax="-100">
                        <div class="img-wraper img-1-wraper">
                            <img class="main-slide-img img-1" data-swiper-parallax-duration="400"
                                data-swiper-parallax-y="500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide1/hero_img1.png' %}"
                                alt="בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים? תן למקצוענים לעשות את העבודה בשבילך" />
                        </div>
                        <div class="img-wraper img-2-wraper">
                            <img class="main-slide-img img-2" data-swiper-parallax-duration="600"
                                data-swiper-parallax-y="500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide1/hero_img2.png' %}"
                                alt="בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים? תן למקצוענים לעשות את העבודה בשבילך" />
                        </div>
                        <div class="img-wraper img-3-wraper">
                            <img class="main-slide-img img-3" data-swiper-parallax-duration="800"
                                data-swiper-parallax-y="500"
                                src="{%static 'assets/catalog/imgs/slide1/hero_img3.png' %}"
                                alt="בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים? תן למקצוענים לעשות את העבודה בשבילך" />
                        </div>
                        <div class="img-wraper img-4-wraper">
                            <img class="main-slide-img img-4" data-swiper-parallax-duration="1000"
                                data-swiper-parallax-y="500"
                                src="{%static 'assets/catalog/imgs/slide1/hero_img4.png' %}"
                                alt="בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים? תן למקצוענים לעשות את העבודה בשבילך" />
                        </div>
                        <div class="img-wraper img-5-wraper">
                            <img class="main-slide-img img-5" data-swiper-parallax-duration="1200"
                                data-swiper-parallax-y="500"
                                src="{%static 'assets/catalog/imgs/slide1/hero_img5.png' %}"
                                alt="בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים? תן למקצוענים לעשות את העבודה בשבילך" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2">
                    <div class="title" data-swiper-parallax-duration="2000" data-swiper-parallax-y="500">
                        לא יודעים מה להזמין ומפחדים לטעות בהזמנה?
                    </div>
                    <div class="subtitle" data-swiper-parallax-duration="2000" data-swiper-parallax-y="500">
                        הצוות שלנו אשמח לעמוד לשירותכם
                    </div>
                    <div class="images" data-swiper-parallax="-100">
                        <div class="img-wraper img-1-wraper">
                            <img class="main-slide-img img-1" data-swiper-parallax-duration="400"
                                data-swiper-parallax-y="-500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img1.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-2-wraper">
                            <img class="main-slide-img img-2" data-swiper-parallax-duration="600"
                                data-swiper-parallax-y="-500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img2.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-3-wraper">
                            <img class="main-slide-img img-3" data-swiper-parallax-duration="800"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img3.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-4-wraper">
                            <img class="main-slide-img img-4" data-swiper-parallax-duration="1000"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img4.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-5-wraper">
                            <img class="main-slide-img img-5" data-swiper-parallax-duration="1200"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img5.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-6-wraper">
                            <img class="main-slide-img img-6" data-swiper-parallax-duration="1400"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img6.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-7-wraper">
                            <img class="main-slide-img img-7" data-swiper-parallax-duration="1600"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img8.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                        <div class="img-wraper img-8-wraper">
                            <img class="main-slide-img img-8" data-swiper-parallax-duration="1800"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide2/hero_img7.png' %}"
                                alt="לא יודעים מה להזמין ומפחדים לטעות בהזמנה? הצוות שלנו אשמח לעמוד לשירותכם" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide-3">
                    <div class="title" data-swiper-parallax-duration="2000" data-swiper-parallax-y="500">
                        מנהל רכש? שמור על העובדים שלך
                    </div>
                    <div class="subtitle" data-swiper-parallax-duration="2000" data-swiper-parallax-y="500">עם סידרת
                        מוצרי הבטיחות לעבודה במחירים מנצחים
                    </div>
                    <div class="images" data-swiper-parallax="-100">
                        <div class="img-wraper img-1-wraper">
                            <img class="main-slide-img img-1" data-swiper-parallax-duration="400"
                                data-swiper-parallax-y="-500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img1.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-2-wraper">
                            <img class="main-slide-img img-2" data-swiper-parallax-duration="600"
                                data-swiper-parallax-y="-500" data-swiper-parallax="-1000"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img2.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-3-wraper">
                            <img class="main-slide-img img-3" data-swiper-parallax-duration="800"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img3.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-4-wraper">
                            <img class="main-slide-img img-4" data-swiper-parallax-duration="1000"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img4.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-5-wraper">
                            <img class="main-slide-img img-5" data-swiper-parallax-duration="1200"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img5.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-6-wraper">
                            <img class="main-slide-img img-6" data-swiper-parallax-duration="1400"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img6.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-7-wraper">
                            <img class="main-slide-img img-7" data-swiper-parallax-duration="1600"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img7.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                        <div class="img-wraper img-8-wraper">
                            <img class="main-slide-img img-8" data-swiper-parallax-duration="1800"
                                data-swiper-parallax-y="-500"
                                src="{%static 'assets/catalog/imgs/slide3/hero_img8.png' %}"
                                alt="מנהל רכש? שמור על העובדים שלך. מוצרי הבטיחות לעבודה במחירים מנצחים" />
                        </div>
                    </div>
                </div>

            </div>
            <!--
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            -->
        </div>
        <!--
    <div class="main-slider">
            <img src="{%static 'assets/catalog/imgs/slide1.jpg'%}"/>
            <img src="{%static 'assets/catalog/imgs/slide2.jpg'%}"/>
            <img src="{%static 'assets/catalog/imgs/slide3.jpg'%}"/>
    </div>
    -->


        <!--
    <div class="swiper-container" dir="rtl">
        <div class="swiper-wrapper">
            <div class="main-slide slide-1">
                <img class="main-slide-bg" srcset="{%static 'assets/catalog/imgs/slide_bg_min.jpg'%}," />
                <div class="text">
                    <div class="text-wraper text-wraper-1">
                        <div class="text-1">
                            בעל עסק? גם לך נמאס לבזבז זמן וכסף בהזמנות רכש לעובדים?
                        </div>
                    </div>
                    <div class="text-wraper text-wraper-2">
                        <div class="text-2 ">
                            תן למקצוענים לעשות את העבודה בשבילך
                        </div>
                    </div>
                </div>
                <div class="images">
                    <img class="main-slide-img img-1" src="{%static 'assets/catalog/imgs/slide1/hero_img1.png' %}" />
                    <img class="main-slide-img img-2" src="{%static 'assets/catalog/imgs/slide1/hero_img2.png' %}" />
                    <img class="main-slide-img img-3" src="{%static 'assets/catalog/imgs/slide1/hero_img3.png' %}" />
                    <img class="main-slide-img img-4" src="{%static 'assets/catalog/imgs/slide1/hero_img4.png' %}" />
                    <img class="main-slide-img img-5" src="{%static 'assets/catalog/imgs/slide1/hero_img5.png' %}" />
                </div>
            </div>

            <div class="main-slide slide-2">
                <img class="main-slide-bg" srcset="{%static 'assets/catalog/imgs/slide_bg_min.jpg'%}," />
                <div class="text">
                    <div class="text-wraper text-wraper-1">
                        <div class="text-1">
                            לא יודעים מה להזמין ומפחדים לטעות בהזמנה?
                        </div>
                    </div>
                    <div class="text-wraper text-wraper-2">
                        <div class="text-2 ">
                            הצוות שלנו אשמח לעמוד לשירותכם
                        </div>
                    </div>
                </div>
                <div class="images">
                    <img class="main-slide-img img-1" src="{%static 'assets/catalog/imgs/slide2/hero_img1.png' %}" />
                    <img class="main-slide-img img-2" src="{%static 'assets/catalog/imgs/slide2/hero_img2.png' %}" />
                    <img class="main-slide-img img-3" src="{%static 'assets/catalog/imgs/slide2/hero_img3.png' %}" />
                    <img class="main-slide-img img-4" src="{%static 'assets/catalog/imgs/slide2/hero_img4.png' %}" />
                    <img class="main-slide-img img-5" src="{%static 'assets/catalog/imgs/slide2/hero_img5.png' %}" />
                    <img class="main-slide-img img-6" src="{%static 'assets/catalog/imgs/slide2/hero_img6.png' %}" />
                    <img class="main-slide-img img-7" src="{%static 'assets/catalog/imgs/slide2/hero_img7.png' %}" />
                    <img class="main-slide-img img-8" src="{%static 'assets/catalog/imgs/slide2/hero_img8.png' %}" />
                </div>
            </div>


            <div class="main-slide slide-3">
                <img class="main-slide-bg" srcset="{%static 'assets/catalog/imgs/slide_bg_min.jpg'%}," />
                <div class="text">
                    <div class="text-wraper text-wraper-1">
                        <div class="text-1">
                            מנהל רכש? שמור על העובדים שלך
                        </div>
                    </div>
                    <div class="text-wraper text-wraper-2">
                        <div class="text-2 ">
                            עם סידרת מוצרי הבטיחות לעבודה במחירים מנצחים
                        </div>
                    </div>
                </div>
                <div class="images">
                    <img class="main-slide-img img-14" src="{%static 'assets/catalog/imgs/slide3/hero_img14.png' %}" />
                    <img class="main-slide-img img-15" src="{%static 'assets/catalog/imgs/slide3/hero_img15.png' %}" />
                    <img class="main-slide-img img-16" src="{%static 'assets/catalog/imgs/slide3/hero_img16.png' %}" />
                    <img class="main-slide-img img-17" src="{%static 'assets/catalog/imgs/slide3/hero_img17.png' %}" />
                    <img class="main-slide-img img-18" src="{%static 'assets/catalog/imgs/slide3/hero_img18.png' %}" />
                    <img class="main-slide-img img-19" src="{%static 'assets/catalog/imgs/slide3/hero_img19.png' %}" />
                    <img class="main-slide-img img-20" src="{%static 'assets/catalog/imgs/slide3/hero_img20.png' %}" />
                    <img class="main-slide-img img-23" src="{%static 'assets/catalog/imgs/slide3/hero_img23.png' %}" />

                </div>


            </div>
        </div>

        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    -->
    </div>
    <div class="section-1-5">
        <div class="container">
            <!--
            <div class="progress progress-striped">
                <div class="progress-bar">
                </div>
            </div>
            -->
        </div>
    </div>
    

    <div class="catalog">

        {%for album in albums%}
        {%if album.is_public%}
        <h3 class="album-description" style="display: none;" id="album_description_{{album.id}}">{{album.description}}
        </h3>
        <h3 class="album-fotter" style="display: none;" id="album_fotter_{{album.id}}">{{album.fotter}}</h3>

        <div class="title-wraper">
            <button data-album-id="{{album.id}}" onclick="openCategoryModal({{album.id}})" class="title btn">
                {{album.title}}
            </button>
        </div>
        {%if album.timer != None %}
        <h1 class="timer-text">
            המבצעים יסתיימו בעוד...
        </h1>
        <div id="counter-{{album.id}}" class="flipdown" name="counter" data-time="{{album.timer|safe}}">
        </div>
        {%endif%}
        <div class="container">
            <div name="slick-slider-{{album.id}}" id="slick-slider-{{album.id}}"
                class="swiper-container swiper-category slick-slider">
                <div class="swiper-wrapper">
                    {%for img in album.sorted_image_set%}
                    <div class="wraper-my-slick-slide swiper-slide">
                        <div data-album-id="{{album.id}}" data-my-slide-index="{{forloop.counter0}}"
                            data-prod-id="{{img.id}}" class="my-slick-slide shadow-lg">
                            <!--<img height="100px" width="100px" class="swiper-lazy" data-src="media/{{img.image_thumbnail}}"
                            alt="{{img.description}}" />
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>                        
                        -->
                            {% if img.big_discount %}
                            <img class="big-discount  swiper-lazy" alt="מבצע ענק!"
                                data-src="{%static 'assets/catalog/imgs/big_discount.gif'%}" />
                            {%endif%}

                            {%if img.discount %}
                            <img class="discount swiper-lazy" data-src="{{img.discount}}" alt="discount" />
                            {%endif%}

                            
                            <img height="100px" width="100px" src="media/{{img.image_thumbnail}}"
                                alt="{{img.description}}" />
                            

                            <div class="img-title">{{img.title}}</div>

                            <!-- product SEO -->
                            <h5 style="display: none;">{{img.title}}</h5>
                            <h4 style="display: none;">{{img.description}}</h4>
                        </div>
                        <div class="like-btn" name="like-btn">
                            <div class="like-wrapper" data-prod-id="{{img.id}}">
                                <a name="like-btn">
                                    <span name="like-btn">
                                        <img src="{%static 'assets/catalog/imgs/icons8-plus-48.png'%}"> הוסף
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        

        {%endif%}
        {%endfor%}
    </div>


    <div class="section-3">
        <div class="container">
        <div class="abount-us">

            <div class="begood-logo-wraper">
                <img src="{%static 'assets\catalog\imgs\begood_plus_logo_layout.png' %}" />
                ביגוד פלוס
            </div>
            מבית אמ. אס. גלובל מתחמה במתן פתרונות טקסטיל למוסדות, עסקים, חנויות ועוד.
            <br>
            אצלנו תמצאו מגוון רחב של פריטים כמו נעליים, מכנסיים, חולצות, ביגוד חורף, כובעים, ציוד בטיחות, ביגוד
            מקצועי
            ומוצרים נוספים.
            <br>
            הדפסות ורקמות על גבי המוצרים
            <br>
            אנו נדאג שתשקיעו מינימום מאמץ ותקבלו מקסימום תוצאה במחיר מנצח
        </div>
        <div class="check-list">
            <ul>
                <li>
                    <input type="checkbox" id="item-1" name="item-1">
                    <label for="item-1" class="text">שירות אדיב ומקצועי</label>
                    <label for="item-1" class="button"></label>
                    <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5"
                            enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                        </svg>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="item-2" name="item-2">
                    <label for="item-2" class="text">מוצרים איכותיים</label>
                    <label for="item-2" class="button"></label>
                    <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5"
                            enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                        </svg>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="item-3" name="item-3">
                    <label for="item-3" class="text">חיסכון בזמן יקר</label>
                    <label for="item-3" class="button"></label>
                    <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5"
                            enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                        </svg>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="item-4" name="item-4">
                    <label for="item-4" class="text">מחירים משתלמים והוגנים</label>
                    <label for="item-4" class="button"></label>
                    <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5"
                            enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                        </svg>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="item-5" name="item-5">
                    <label for="item-5" class="text">זמני אספקה מהירים</label>
                    <label for="item-5" class="button"></label>
                    <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5"
                            enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
                        </svg>
                    </div>
                </li>
            </ul>


        </div>
    </div>
    </div>

</div>

<div class="modal" id="catalogProductsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img class="header-logo header-logo-r" src="{%static 'assets/base/imgs/logo_ms.png' %}" />
                <h5 class="modal-title  w-100">M.S global</h5>
                <img class="header-logo header-logo-l" src="{%static 'assets/base/imgs/begood_plus_logo.png' %}" />

                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>M.S global</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-send-products-btn" class="btn btn-primary">שלח</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="catalogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img class="header-logo header-logo-r" src="{%static 'assets/base/imgs/logo_ms.png' %}" />
                <h5 class="modal-title  w-100">Category</h5>
                <img class="header-logo header-logo-l" src="{%static 'assets/base/imgs/begood_plus_logo.png' %}" />

                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Products in the category.</p>
            </div>
            <div class="modal-footer">



                <button id="modal-prev-btn" class="btn modal-nav-btn">
                    <img src="{%static 'assets/catalog/imgs/icons8-arrow-48.png'%}">
                </button>
                <div class="like-btn">
                    <div id="modal-add-btn" class="like-wrapper">
                        <a name="like-btn">
                            <span name="like-btn">
                                <img src="{%static 'assets/catalog/imgs/icons8-plus-48.png'%}"> הוסף
                            </span>
                        </a>
                    </div>
                </div>

                <button id="modal-next-btn" class="btn modal-nav-btn">
                    <img src="{%static 'assets/catalog/imgs/icons8-arrow-48.png'%}">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="categoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header text-center">
                <div class="modal-header-links"> </div>
                <button type="button" class="close close-modal" data-dismiss="categoryModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <img class="header-logo header-logo-r" src="{%static 'assets/base/imgs/logo_ms.png' %}" />
                <h5 class="modal-title">Category</h5>
                <img class="header-logo header-logo-l" src="{%static 'assets/base/imgs/begood_plus_logo.png' %}" />
                <!--<button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>-->

                <!--
                <button id="modal-prev-btn" class="btn btn-secondary"> הקודם </button>
                <button type="button" id="modal-add-btn" class="btn btn-primary">הוסף להצעת מחיר</button>
                <button id="modal-next-btn" class="btn btn-secondary" > הבא </button>
                -->
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ImageProductsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img class="header-logo header-logo-r" src="{%static 'assets/base/imgs/logo_ms.png' %}" />
                <h5 class="modal-title  w-100">modal title</h5>
                <img class="header-logo header-logo-l" src="{%static 'assets/base/imgs/begood_plus_logo.png' %}" />

                <button type="button" class="close close-modal" data-dismiss="ImageProductsModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                modal body
            </div>
            <!--
            <div class="modal-footer">
                modal footer
            </div>
            -->
        </div>
    </div>
</div>



<div class="contact-form-wraper2">
    <div class="contact-form-wraper">
        <form id="catalog-contact-form" action="{%url 'save-contact-form' '/testCatalog'%}" method="post"
            class="contact-form">
            {% csrf_token %}
            <input type="hidden" name="taskName" id="taskName" value="catalog-ec6bb117-c8fa-4a38-989a-ab0e0805e44e">
            <h2 class="form-header">
                לקבלת הצעת מחיר משתלמת
                <div class="mark-strong">&nbsp;ללא&nbsp;</div>
                עלות
                <div class="mark-strong">&nbsp;וללא&nbsp;</div>
                התחייבות השאירו פרטים ומיד נחזור אליכם
            </h2>
            </h2>
            {% bootstrap_form contactForm %}
            {% buttons %}
            <button type="submit" class="btn btn-success form-submit">לשליחת טופס לחץ כאן</button>
            {% endbuttons %}
        </form>
    </div>
</div>


<form method="POST" id="deleteProductForm" action="tasks/delete-user-liked-product">
    {%csrf_token%}
</form>
{%endblock%}

{%block extra_body%}
<!--
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
-->
<script src="{%static 'assets/js/swiper-bundle.js'%}"></script>
<script src="{%static 'assets/catalog/js/marked.min.js'%}"></script>
<!--<script src="https://zachleat.github.io/BigText/dist/bigtext.js"></script>-->
<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
<script type="text/javascript" src="{%static 'assets/catalog/js/countdowncube.js' %}"></script>
-->
<script src="{%static 'assets/catalog/js/flipdown.min.js'%}"></script>
<script src="{%static 'assets/catalog/js/catalog.js'%}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var t0 = performance.now()
        var counters = $('[name="counter"]');
        for (var i = 0; i < counters.length; i++) {
            counter = counters[i];
            var today = Date.now();
            var time = new Date($(counter).data().time);
            if (today < time.getTime()) {
                var t = Math.floor(time.getTime() / 1000);
                var flipdown = new FlipDown(t, counter.id, {
                    theme: 'light'
                });
                flipdown.start();
            }
        }
        /*
            $.ajax({
                type: "GET",
                url: '/catalogTimer',
                success: (json) => {
                    //allAlbums = ;
                    console.log(json);
                    
                },
                error: (e) => {
                    console.log('error:', e);
                },
                dataType: "json"```
            });
            */
        /*var x = window.matchMedia("(min-width: 1312px)");
        if(x.matches == false) {
            $('.main-slide .text-wraper').bigtext();
        }*/

        //updateProductsCart();
        /*$('.main-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            //autoplay: true,
            autoplay: false,
            speed: 1000,
            autoplaySpeed: 6000,
            pauseOnFocus: true,
            focusOnSelect: false,
            rtl: true,
            swipeToSlide: false,
            //lazyLoad: 'ondemand',
            dots: true,
            draggable: false,
            infinite: true,
            arrows: false,
        });*/

        var swiper = new Swiper('.swiper-main', {
            speed: 1200,
            parallax: true,
            loop: true,
            autoplay: {
                delay: 6000,
            },
            /*watchSlidesProgress: true,
            watchSlidesVisibility: true,*/
        });



        //albums = getAllAlbums();
        /*
        var catalogMarkup = ``;
        var catalogPreload = ``;
        var k = 0;
        for (var i = 0; i < albums.length; i++) {
            var albumMarkup = ``;
            album = albums[i];
            if (albums[i].is_public) {
                albumMarkup += `
                    <!--<div class="title">${album.title}</div>-->
                    <div class="title-wraper">
                        <button data-album-id="${album.id}" onclick="openCategoryModal(${album.id})" class="title btn">${album.title}</button>
                    </div>
                    <div class="container">
                        <div name="slick-slider-${album.id}" id="slick-slider-${i}" class="slick-slider">`
                albumPreload = ``;
                for (var j = 0; j < album.images_list.length; j++) {
                    var img = album.images_list[j];
                    albumMarkup += `
                        <div class="wraper-my-slick-slide">
                            <div data-album-id="${album.id}" data-my-slide-index="${j}" data-prod-id="${img.id}" class="my-slick-slide shadow-lg">
                                <img data-lazy="${img.image_thumbnail}" alt="${img.description}" />
                                <div class="img-title">${img.title}</div>
                            </div>
                            <div class="like-btn" name="like-btn">
                                <div class="like-wrapper" data-prod-id="${img.id}">
                                    <a name="like-btn"><span name="like-btn">הוסף להצעת מחיר</span></a>
                                </div>
                            </div>
                            
                        </div>
                        `
                    albumPreload += `<link rel="prefetch" width="923px" height="715px" href="${img.image}" />`;
                }
                albumMarkup += `</div></div>`
            }
            catalogMarkup += albumMarkup;
            catalogPreload += albumPreload;
        }
        $('.catalog').html(catalogMarkup).append(catalogPreload);
        */
        var swipers = [];
        var swiperDom = $('.swiper-category');
        for (var i = 0; i < swiperDom.length; i++) {
            swipers.push(new Swiper(swiperDom[i], {
                // Enable lazy loading
                lazy: true,
                effect: 'coverflow',
                grabCursor: true,
                speed: 125,
                loop: true,
                centeredSlides: true,
                slidesPerView: 5,
                loopedSlides: 8,
                loadPrevNext: true,
                loadOnTransitionStart: true,
                //checkInView: true,
                slideToClickedSlide: true,
                on: {
                    init: function (d) {
                        set_selected_slide_bigger(d);
                    },
                },

                coverflowEffect: {
                    rotate: -13,
                    stretch: 10,
                    depth: 100,
                    modifier: 1,

                    slideShadows: false,
                },

                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: `#${swiperDom[i].id} ~ .swiper-button-prev`,
                    prevEl: `#${swiperDom[i].id} ~ .swiper-button-next`,
                },

            }));
            swipers[swipers.length - 1].on('transitionEnd', function (d) {
                set_selected_slide_bigger(d);
            });

        }
        //var swipers = new Swiper
        /*var swipers = new Swiper('.swiper-category', {
            // Enable lazy loading
            lazy: true,
            effect: 'coverflow',
            grabCursor: true,
            speed: 100,
            loop: true,
            centeredSlides: true,
            slidesPerView: 5,
            loadPrevNext: true,
            loadOnTransitionStart: true,
            checkInView: true,
            slideToClickedSlide: true,

            coverflowEffect: {
                rotate: 30,
                stretch: 0,
                depth: 100,
                modifier: 1,

                slideShadows: false,
            },

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-prev',
                prevEl: '.swiper-button-next',
            },

        });*/
        mySwiper = swipers[0];
        mySwiper.params.slidesPerView = 4;
        mySwiper.update();
        // TODO: start index from 0 and choose a diffrent selector so the first (main) slider is not selected
        /*for (var i = 1; i < slisks.length; i++) {


            //var numberOfItems = $(slisks[i]).find('.my-slick-slide').length
            /*var isDots = true;
            if (numberOfItems > 20) {
                isDots = false;
            }*/
        /*
        var isDots = false;
        $(slisks[i]).slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: isDots,
            speed: 100,
            focusOnSelect: false,
            rtl: true,
            swipeToSlide: true,
            lazyLoad: 'ondemand',
            draggable: false,
            infinite: true,


            responsive: [{
                breakpoint: 500,
                settings: {
                    slidesToShow: 3,
                }
            }]
        });*/


        $('.my-slick-slide + .like-btn .like-wrapper').on('click', (e) => {
            console.log('like clicked');
            addClientLikeProduct(e.currentTarget.dataset.prodId);
        });

        $('.my-slick-slide').on('click', (e) => {
            console.log('.my-slick-slide', e, e.currentTarget.dataset.prodId);
            /*if (e.target.getAttribute('name') == 'like-btn') {
                addClientLikeProduct(e.currentTarget.dataset.prodId);
                //$(e.currentTarget).addClass('checked');
                //$('#product-like-btn').prop("checked", true);
            } else {*/{
                var prodId = parseInt(e.currentTarget.dataset.prodId);
                var albumId = parseInt(e.currentTarget.dataset.albumId);

                //var isAdded = e.currentTarget.dataset.isAdded;

                albums = getAllAlbums();
                var album = albums.find((val, idx, obj) => {
                    return val.id == albumId
                })
                var img = album.images_list.find((val) => {
                    return val.id == prodId
                });

                var colorMarkup = ``
                for (var i = 0; i < img.colors_list.length; i++) {
                    var col = img.colors_list[i];
                    colorMarkup += `<div class="color-box" style="background:${col.color};"></div>`;
                }

                var sizeMarkup = ``;
                for (var i = 0; i < img.sizes_list.length; i++) {
                    var size = img.sizes_list[i];
                    sizeMarkup += `<div class="size-box">${size.size}</div>`;
                }

                //$('#catalogModal .modal-title').text(album.title);
                $('#catalogModal .modal-title').html(`
                <button data-album-id="${album.id}" onclick="openCategoryModal(${album.id})"
                    class="title btn btn-outline-dark">${album.title}</button>
                    `);
                $('#catalogModal .modal-body').html(`
                <div class="inner-body">

                    <div class="product-detail">
                        <div class="product-title">${img.title}</div>
                        <hr>
                        <div class="product-properties">
                            <div class="col-6">
                                <div class="product-color ">${colorMarkup}</div>
                            </div>
                            <div class="col-6">
                                <div class="product-size">${sizeMarkup}</div>
                            </div>
                        </div>
                        <hr>
                        
                        <!-- <div class="product-description">${img.description.replace(/(?:\r\n|\r|\n)/g, '<br>') }</div> -->
                        <div class="product-description">${marked(img.description)}</div>
                        
                    </div>
                    <div class="img-wraper" onclick="openImageProductModal(${img.id})"><img id="catalog-image-${img.id}" src="${img.image}"/></div>
                </div>
                <div class="inner-footer">
                </div>
                `);


                var modalNextBtn = $('#modal-next-btn');
                var modalPrevBtn = $('#modal-prev-btn');
                var nextElementStr =
                    `[name=slick-slider-${album.id}] .my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)+1}]`;
                var prevElementStr =
                    `[name=slick-slider-${album.id}] .my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)-1}]`;
                var nextElement = $(nextElementStr)
                var prevElement = $(prevElementStr)
                modalNextBtn.attr('onClick',
                    `$('${nextElementStr}').click();`
                );
                modalPrevBtn.attr('onClick',
                    `$('${prevElementStr}').click();`
                );
                // no more next, so hide next button
                if (nextElement.length == 0) {
                    modalNextBtn.data('hide-me', 'yes');
                    modalNextBtn.css('visibility', 'hidden');
                } else {
                    modalNextBtn.data('hide-me', 'no');
                    modalNextBtn.css('visibility', 'visible');
                }
                // no more prev, so hide prev button
                if (prevElement.length == 0) {
                    modalPrevBtn.data('hide-me', 'yes');
                    modalPrevBtn.css('visibility', 'hidden');
                } else {
                    modalPrevBtn.data('hide-me', 'no');
                    modalPrevBtn.css('visibility', 'visible');
                }
                $('#modal-prev-btn').click(function (e) {
                    $(`.my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)-1}]`)
                        .click();
                });

                $('#modal-add-btn').val(prodId);

                if ($(e.currentTarget).hasClass('checked')) {
                    $('#modal-add-btn').prop('disabled', true);
                    set_like_btn('#modal-add-btn span', true);
                    //$('#modal-add-btn span').text('נוסף להצעת מחיר');
                    $('#modal-add-btn').addClass('isAdded');
                } else {
                    $('#modal-add-btn').prop('disabled', false);
                    set_like_btn('#modal-add-btn span', false);
                    //$('#modal-add-btn span').text('הוסף להצעת מחיר');
                    $('#modal-add-btn').removeClass('isAdded');
                }
                setTimeout(() => {
                    $('#catalogModal').modal('show');
                    $('#catalogModal .close-modal').click(function () {
                        $('#catalogModal').modal('hide');
                    });
                }, 250);

            }
            $('#modal-add-btn').click((e) => {
                console.log('modal-add-btn', e);
                addClientLikeProduct(e.currentTarget.value)
                return false;
            });
        });
        //task = myStorage.getItem('user_click_task');
        //activateUserTask(task);
        handleSearchTasks();
        //updateClientLikedUI();

        var t1 = performance.now()
        console.log("document ready took " + (t1 - t0) + " milliseconds.");

    });



    function handleSearchTasks() {
        var openCategoryTask = myStorage.getItem('search_open_category');
        if (openCategoryTask != null) {
            openCategoryModal(openCategoryTask);
            myStorage.removeItem('search_open_category');

        }

        var openProductTask = myStorage.getItem('search_open_product');
        if (openProductTask != null) {
            $(`.my-slick-slide[data-prod-id=${openProductTask}]`).click();
            //var prod = $(`div[data-prod-id=${openProductTask}]`);
            //prod.click();

            myStorage.removeItem('search_open_product');
        }
    }
    /*
    function activateUserTask(task) {
        if (task == "catalog-ec6bb117-c8fa-4a38-989a-ab0e0805e44e") {
            setTimeout(() => {
                //document.getElementById('contact-form').scrollIntoView();
                window.scrollTo(0, document.body.scrollHeight);
                //myStorage.setItem('user_click_task', undefined);
                myStorage.removeItem('user_click_task');
            }, 1000);
        } else if (task == "products-ec6bb117-c8fa-4a38-989a-ab0e0805e44e") {
            loadProductsModal();
            myStorage.removeItem('user_click_task');
        }
    }
    */



    function set_selected_slide_bigger(swiper) {
        swiper.slides[swiper.activeIndex].style.transform = swiper.slides[swiper.activeIndex].style.transform.replace(
            "scale(1)", "scale(1.4)");
            /*
        swiper.slides[swiper.activeIndex - 1].style.transform = swiper.slides[swiper.activeIndex - 1].style.transform
            .replace("scale(1)", "scale(1.3)");
        swiper.slides[swiper.activeIndex + 1].style.transform = swiper.slides[swiper.activeIndex + 1].style.transform
            .replace("scale(1)", "scale(1.3)");
        swiper.slides[swiper.activeIndex - 2].style.transform = swiper.slides[swiper.activeIndex - 2].style.transform
            .replace("scale(1)", "scale(1.1)");
        swiper.slides[swiper.activeIndex + 2].style.transform = swiper.slides[swiper.activeIndex + 2].style.transform
            .replace("scale(1)", "scale(1.1)");
            */


    }
</script>
{%endblock%}



<!--
    credits:
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<a target="_blank" href="undefined/icons/set/check-mark-emoji">Check Mark icon</a> icon by <a target="_blank" href="">Icons8</a>
<a target="_blank" href="undefined/icons/set/arrow">Arrow icon</a> icon by <a target="_blank" href="">Icons8</a>
<a target="_blank" href="undefined/icons/set/plus-math--v2">Plus Math icon</a> icon by <a target="_blank" href="">Icons8</a>
<a target="_blank" href="undefined/icons/set/plus-math--v1">Plus Math icon</a> icon by <a target="_blank" href="">Icons8</a>
-->