{% include  'newBase.html'%}
{% load i18n %}
{% load static %}

<title>{% block head_title %}{% trans "קטלוג מוצרי פרסום" %}{% endblock %}</title>
<link rel="shortcut icon" href="{%static 'my_logo_logo.jpg' %}">


{% block extra_head %}
<style type="text/css">
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }
    #content {
        height: 100vh;
    }
    #footer {
        display: none;
    }
    /*#content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0px;
    }*/
</style>
{%endblock extra_head%}
{% block content %}
<div id="content">

    <iframe width="100%" name="iframe_a" height="100%" frameborder="0" src="http://www.my-logo.co.il/{{redirect_to}}" />
</div>
{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}