:root {
    --clr-primery-bg: linear-gradient(to right, #e7ad00, #ebb000, #f0b300, #f4b700, #f9ba00, #f9ba00, #f9ba00, #f9ba00, #f4b700, #f0b300, #ebb000, #e7ad00);
    --clr-primery-gold: #f0b300;
}

@mixin bg-gradient {
    background-color: #edce6a;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjlmMjk1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(249, 242, 149)), color-stop(0.25, rgb(224, 170, 62)), color-stop(0.5, rgb(249, 242, 149)), color-stop(0.75, rgb(224, 170, 62)), color-stop(1, rgb(249, 242, 149)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    background-image: -ms-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);

    /* IE8- CSS hack */
    @media \0screen\,screen\9 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff9f295", endColorstr="#fff9f295", GradientType=1);
        
    }
}

.bg-gradient {
    @include bg-gradient;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../fonts/subset-RoundedMplus1c-Bold.woff2') format('woff2'),
        url('../fonts/subset-RoundedMplus1c-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../fonts/subset-RoundedMplus1c-Medium.woff2') format('woff2'),
        url('../fonts/subset-RoundedMplus1c-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



* {
    //font-family: 'Rounded Mplus 1c';
    font-family: 'Rubik';
    font-style: normal;
}

.modal {
    .close {
        border: 0;
        background: none;
        padding: 0;
        font-size: 2.5em;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: 0px;
        margin-right: auto;
        transform: translate(-0.5rem, -0.5rem);

        &:hover {
            color: red;
        }
    }

    .modal-header {
        @include bg-gradient();
        //background: #ffd880;
        padding-top: 0px;
        padding-bottom: 0px;

        .header-logo {
            height: 35px;
            margin: auto;
        }

        .modal-title {
            font-weight: 700;
            font-size: 2.5em;
        }
    }

    .modal-body {
        background: url('../../base/imgs/wall_bg.jpg');
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../base/imgs/wall_bg.jpg');
        //background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/catalogBg1.jpeg');
        overflow: hidden;
        text-align: right;
        //background-size: 50vh;
        background-position: center;
    }

    .modal-footer {
        @include bg-gradient();
        //background: #ffd880;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px;
    }
}


.icon-bar {
    position: fixed;
    top: 50%;
    left: -160px;
    //left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;

    .icon {
        text-decoration: none;
        width: 210px;
        border-radius: 100px;
        padding-right: 10px;
        color: #fff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        //transform: translateX(-210px);
        transform: translateX(160px);
        transition: all 0.5s linear;


        &.hide {
            transform: translateX(-220px);
        }

        &.pick {
            transform: translateX(10px);
        }

        &.show {
            transform: translateX(160px);
            transition: all 0.1s linear;

            &:hover {
                transform: translateX(170px);
            }
        }

        &.hover-show {
            transform: translateX(160px);
            transition: all 0.1s linear;

            &:hover {
                transform: translateX(170px);
            }
        }

        img {
            width: 50px;
        }

        .inner-icon {
            width: 100%;
            //font-size: 1.3em;
            font-size: 0.857em;
            padding: 10px;
            height: 100%;
        }

        &.delivery {
            ///background-color: #FFD880;
            border: 1px solid #FFD880;
            overflow: hidden;

            .inner-icon {
                &:focus {
                    outline: 0;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.8);
                    width: 60px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: .5;
                    filter: blur(30px);
                    transform: translateX(-100px) skewX(-15deg);
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.2);
                    width: 30px;
                    height: 100%;
                    left: 30px;
                    top: 0;
                    opacity: 0;
                    filter: blur(5px);
                    transform: translateX(-100px) skewX(-15deg);
                }

                &:hover {
                    cursor: pointer;

                    &:before {
                        transform: translateX(300px) skewX(-15deg);
                        opacity: 0.6;
                        transition: .7s;
                    }

                    &:after {
                        transform: translateX(300px) skewX(-15deg);
                        opacity: 1;
                        transition: .7s;
                    }
                }
            }
        }

        &.whatsapp {
            //background: linear-gradient(#25D366, #128C7E);
            border: 1px solid #25D366;
            color: white;
        }

        &.facebook {
            //background-color: #4267B2
            //background-color: #2b4170;
            //background: linear-gradient(top, #11AEFE, #0066E0);
            border: 1px solid #0066E0;
            text-shadow: 0 -1px -1px #1f2f52;
        }

        &.instegram {
            //background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            border: 1px solid #EA4959;
        }

        /*&.pick {
            transform: translateX(-90px);
        }*/
        a {
            color: white;
        }
    }


}

.icon-bar-2 {
    position: fixed;
    cursor: pointer;
    top: 80%;
    right: 0;
    //left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;

    .icon {
        background-color: rgba(49, 49, 49, 0.7);
        border-radius: 10px;

        .text {
            font-size: 1.5em;
            //color:whitesmoke;
            color: #FFD880;
            text-align: center;
        }

        img {
            width: 100px;
        }
    }
}

#search_form {
    //margin:auto;
    //transform: translate(-50%,0%);
    //flex-grow: 1;
    //justify-content: center;
    align-items: center;
    flex-basis: 50%;

    input {
        //min-width: 350px;
        width: 80%;
    }
}

.ui-autocomplete {
    z-index: 9999999;
    position: fixed;
    max-height: 80vh;
    overflow: scroll;

    .list-category {
        //background-color: black;

        margin: 5px;
        padding: 3px;

        .search-item {
            border: 2px solid black;
            border-radius: 15px;
            //border: 5px black solid;
            background-color: #FFD880;
            text-align: center;
            font-size: larger;

        }

        &:hover {
            .search-item {
                //background-color: #40508d;
                background-color: #3969B1;
            }
        }
    }

    .search-item {
        .logo {
            //display: inline-block;
            height: 20px;
            transform: translate(0, 25%);
            float: left;
        }
    }
}

.navbar {
    @include bg-gradient();
    position: sticky;
    top: 0;
    z-index: 1000;
    //background: #ffd880;
    //background-image: linear-gradient(to right, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00, #ffbf00);
    //background-image: linear-gradient(to right, #e7ad00, #ebb000, #f0b300, #f4b700, #f9ba00, #f9ba00, #f9ba00, #f9ba00, #f4b700, #f0b300, #ebb000, #e7ad00);
    //background-image: var(--clr-primery-bg);

    .nav-logo {
        width: auto;
        height: 40px;
    }

    .nav-logo-2 {
        width: auto;
        height: 40px;
    }

    // bell:
    #navbarDropdownList {
        position: absolute;
    }

    // menu (humburger):
    .menu-wraper {
        position: relative;

        button {
            .navbar-toggler-icon {
                background-image: url('../imgs/icons8-menu.svg');
            }
        }

        #navbarSupportedContent {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 5px;
            transform: translate(75%, 25%);
            //background-color: white;
            background-color: rgb(226, 226, 226);
            border-radius: 15px;
            border: 1px solid black;

            ul {
                padding: 0;
                min-width: 80px;

                li {
                    font-size: xx-large;
                    white-space: nowrap;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: 100%;

                    &:hover {
                        background-color: rgb(138, 138, 138);
                    }

                    a {
                        color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 30px;
                        }
                    }
                }
            }


        }
    }

    #navbarDropdown {
        padding: 0;
        font-size: 2em;

        &::before,
        &::after {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }

        &::before {
            display: block;
            content: "\f0f3";
            color: black;
            font-family: "FontAwesome";
            transform-origin: top center;
        }

        &::after {
            font-family: Arial;
            font-size: 0.7em;
            font-weight: 700;
            position: absolute;
            top: -8px;
            right: -15px;
            padding: 1px 5px;
            line-height: 100%;
            border: 2px #fff solid;
            border-radius: 60px;
            background: #3498db;
            opacity: 0;
            content: attr(data-count);
            opacity: 0;
            transform: scale(0.5);
            transition: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

        &.notify::before {
            animation: ring 1.5s ease;
        }

        &.show-count::after {
            transform: scale(1);
            opacity: 1;
        }


        @keyframes ring {
            0% {
                transform: rotate(35deg);
            }

            12.5% {
                transform: rotate(-30deg);
            }

            25% {
                transform: rotate(25deg);
            }

            37.5% {
                transform: rotate(-20deg);
            }

            50% {
                transform: rotate(15deg);
            }

            62.5% {
                transform: rotate(-10deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    }
}

#footer {
    background: #343b40;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;

    .copyright {
        text-align: center;

        strong {
            color: yellow;
        }
    }

    .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
}


#likedProductsModal {
    .modal-body {
        max-height: 80vh;
        overflow: scroll;

        #cartProductsList {
            ul {
                li {
                    position: relative;
                    background: #FFD880;
                    border-radius: 10px;
                    margin: 5px;
                    padding: 5px;
                    display: flex;
                    //justify-content: space-between;

                    button {
                        border: 0;
                        background-color: transparent;

                        position: absolute;
                        top: 0px;
                        left: 0px;
                        transform: translate(25%, 25%);

                        &:hover {
                            color: red;
                        }
                    }

                    img {
                        width: 25px;
                        height: 25px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.contact-form-wraper2 {
    @include bg-gradient();
    //background-color: #FFD880;
    //background-image: var(--clr-primery-bg);
    //background-color: black;
    padding-top: 5px;

    //background-color: #5c6369;
    .contact-form-wraper {
        //background-color: #F0D57A;
        border-radius: 30px;
        //padding-top: 100px;

        .contact-form {
            margin: auto 80px;

            @media screen and (max-width: 490px) {
                margin: auto 10px;
            }

            .form-header {
                color: black;
                //background-color: #ffca43;
                border-radius: 20px;
                padding-right: 10px;
                //margin-bottom: 80px;
                text-align: center;

                .mark-strong {
                    display: inline;
                    font-weight: 700;
                }
            }

            ::placeholder {
                color: black;
            }

            .form-control {
                border-radius: 1rem;
                background-color: rgb(209, 209, 209);
                margin-bottom: 1px;

            }

            .form-submit {
                display: block;
                margin: 0 auto;
            }
        }
    }
}