body {}

.icon-bar {
    position: fixed;
    top: 50%;
    left: -160px;
    //left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;

    .icon {
        text-decoration: none;
        width: 210px;
        border-radius: 100px;
        padding-right: 10px;
        color: #fff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        //transform: translateX(-210px);
        transform: translateX(160px);
        transition: all 0.5s linear;


        &.hide {
            transform: translateX(-220px);
        }

        &.pick {
            transform: translateX(10px);
        }

        &.show {
            transform: translateX(160px);
            transition: all 0.1s linear;

            &:hover {
                transform: translateX(170px);
            }
        }
        &.hover-show {
            transform: translateX(160px);
            transition: all 0.1s linear;

            &:hover {
                transform: translateX(170px);
            }
        }

        img {
            width: 50px;
        }

        .inner-icon {
            width: 100%;
            //font-size: 1.3em;
            font-size: 0.857em;
            padding: 10px;
            height: 100%;
        }

        &.delivery {
            background-color: #FFD880;
            //background-color: #0000007c;
            //transition: .6s;
            overflow: hidden;

            .inner-icon {

                //font-size: .9em;
                &:focus {
                    outline: 0;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.8);
                    width: 60px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: .5;
                    filter: blur(30px);
                    transform: translateX(-100px) skewX(-15deg);
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.2);
                    width: 30px;
                    height: 100%;
                    left: 30px;
                    top: 0;
                    opacity: 0;
                    filter: blur(5px);
                    transform: translateX(-100px) skewX(-15deg);
                }

                &:hover {
                    //background: #338033;

                    cursor: pointer;

                    &:before {
                        transform: translateX(300px) skewX(-15deg);
                        opacity: 0.6;
                        transition: .7s;
                    }

                    &:after {
                        transform: translateX(300px) skewX(-15deg);
                        opacity: 1;
                        transition: .7s;
                    }
                }
            }
        }

        &.whatsapp {
            //background-color: lightgreen;
            //background: rgb(37,211,102);
            //background: linear-gradient(180deg, rgba(37,211,102,1) 50%, rgba(18,140,126,1) 150%);
            //background: linear-gradient(45deg, #E5FFCC , #1EBEA5 , #00E676 , #D0E9EA)
            //background:
            //linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
            //radial-gradient(#25d366 60%,transparent 0);
            background: linear-gradient(#25D366, #128C7E);
            color: white;
        }

        &.facebook {
            //background-color: #4267B2
            background-color: #2b4170;
            background: linear-gradient(top, #11AEFE, #0066E0);
            text-shadow: 0 -1px -1px #1f2f52;
        }

        &.instegram {
            background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }

        /*&.pick {
            transform: translateX(-90px);
        }*/
        a {
            color: white;
        }
    }


}


#search_form {
    //margin:auto;
    //transform: translate(-50%,0%);
    //flex-grow: 1;
    //justify-content: center;
    align-items: center;
    flex-basis: 50%;

    input {
        //min-width: 350px;
        width: 80%;
    }
}

.ui-autocomplete {
    z-index: 9999999;
    position: fixed;
    max-height: 80vh;
    overflow: scroll;

    .list-category {
        //background-color: black;
        
        margin: 5px;
        padding: 3px;

        .search-item {
            border: 2px solid black;
            border-radius: 15px;
            //border: 5px black solid;
            background-color: #FFD880;
            text-align: center;
            font-size: larger;
            
        }

        &:hover {
            .search-item {
                //background-color: #40508d;
                background-color: #3969B1;
            }
        }
    }

    .search-item {
        .logo {
            //display: inline-block;
            height: 20px;
            vertical-align:middle;
            float: left;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffd880;

    .nav-logo {
        width: auto;
        height: 40px;
    }

    .nav-logo-2 {
        width: auto;
        height: 40px;
    }

    // bell:
    #navbarDropdownList {
        position: absolute;
    }

    // menu (humburger):
    .menu-wraper {
        position: relative;

        #navbarSupportedContent {
            position: absolute;
            top: 0px;
            right: 0px;
            padding:5px;
            transform: translate(0px, 50%);
            background-color: white;
            border-radius: 15px;
            border: 1px solid black;

            ul {
                padding: 0;
                min-width: 80px;
                li {
                    font-size: xx-large;
                    white-space: nowrap;
                    /*padding-left: 50px;
                    padding-right: 50px;*/
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }
    }

    #navbarDropdown {
        padding: 0;
        font-size: 2em;

        &::before,
        &::after {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }

        &::before {
            display: block;
            content: "\f0f3";
            color: black;
            font-family: "FontAwesome";
            transform-origin: top center;
        }

        &::after {
            font-family: Arial;
            font-size: 0.7em;
            font-weight: 700;
            position: absolute;
            top: -8px;
            right: -15px;
            padding: 1px 5px;
            line-height: 100%;
            border: 2px #fff solid;
            border-radius: 60px;
            background: #3498db;
            opacity: 0;
            content: attr(data-count);
            opacity: 0;
            transform: scale(0.5);
            transition: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

        &.notify::before {
            animation: ring 1.5s ease;
        }

        &.show-count::after {
            transform: scale(1);
            opacity: 1;
        }


        @keyframes ring {
            0% {
                transform: rotate(35deg);
            }

            12.5% {
                transform: rotate(-30deg);
            }

            25% {
                transform: rotate(25deg);
            }

            37.5% {
                transform: rotate(-20deg);
            }

            50% {
                transform: rotate(15deg);
            }

            62.5% {
                transform: rotate(-10deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    }
}

#footer {
    background: #343b40;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;

    .copyright {
        text-align: center;

        strong {
            color: yellow;
        }
    }

    .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
}

.contact-form-wraper2 {
    //background-color: black;
    padding-top: 5px;

    //background-color: #5c6369;
    .contact-form-wraper {
        //background-color: #F0D57A;
        border-radius: 30px;
        //padding-top: 100px;

        .contact-form {
            margin: auto 80px;

            @media screen and (max-width: 490px) {
                margin: auto 10px;
            }

            .form-header {
                color: black;
                background-color: #ffca43;
                border-radius: 20px;
                padding-right: 10px;
                //margin-bottom: 80px;
                text-align: center;

                .mark-strong {
                    display: inline;
                    font-weight: 700;
                }
            }

            ::placeholder {
                color: black;
            }

            .form-control {
                border-radius: 1rem;
                background-color: rgb(209, 209, 209);
                margin-bottom: 1px;

            }

            .form-submit {
                display: block;
                margin: 0 auto;
            }
        }
    }
}